<main>
  <h1>Dummy Home</h1>
  <div id="project_form" data-controller="form autosave">
    <button class="btn btn-primary">Save</button>
    <input name="project[name]" value="Project A" />
  </div>
</main>
