<div id="raa-root" data-raa-enabled="true"></div>
<script id="raa-context" type="application/json"><%= raw(annotator_context) %></script>
<%= stylesheet_link_tag "rails_agent_annotator/application", media: "all" %>
<%= javascript_include_tag "rails_agent_annotator/application", defer: true %>
